# Lab 4
### Joshua Pepper

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-510/blob/main/book/labs/lab_04.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [1]:
latitude = 40.7128
longitude = -74.0060
population = 8_336_817
area_km2 = 783.8

# Calculate population density
population_density = population / area_km2

# Prints the results
print(f"Population Density: {population_density:.2f} people per square km")
print(f"Latitude: {latitude}, Longitude: {longitude}")

Population Density: 10636.41 people per square km
Latitude: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [2]:
city = "San Francisco"

# Convert to lowercase
print(city.lower())

# Convert to uppercase
print(city.upper())

# Replace "San" with "Los"
new_city = city.replace("San", "Los")
print(new_city)

san francisco
SAN FRANCISCO
Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [3]:
cities = [
    ("New York City", (40.7128, -74.0060)),
    ("Los Angeles", (34.0522, -118.2437)),
    ("Chicago", (41.8781, -87.6298))
]

# Adds a new city
cities.append(("Miami", (25.7617, -80.1918)))

# Prints entire list
print(cities)

# Prints first two cities
print(cities[:2])

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298)), ('Miami', (25.7617, -80.1918))]
[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437))]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [4]:
eiffel_tower_coordinates = (48.8584, 2.2945)

# Access and print latitude and longitude
print(f"Latitude: {eiffel_tower_coordinates[0]}, Longitude: {eiffel_tower_coordinates[1]}")

# Attempt to change latitude value
try:
    eiffel_tower_coordinates[0] = 48.8585
except TypeError as e:
    print(f"Error: {e} - Tuples are immutable, meaning their values cannot be changed.")

Latitude: 48.8584, Longitude: 2.2945
Error: 'tuple' object does not support item assignment - Tuples are immutable, meaning their values cannot be changed.

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [5]:
visited_countries = {"USA", "France", "Germany"}

# Add a new country
visited_countries.add("Spain")

# Try adding the same country again
visited_countries.add("Spain")  # Q2. No duplicate entry should be added when working with sets.

# Print updated set
print(visited_countries)

{'Spain', 'USA', 'France', 'Germany'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 m³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [6]:
river = {
    "Name": "Amazon River",
    "Length": 6400,  # in km
    "Countries": ["Brazil", "Peru", "Colombia"]
}

# Add a new key-value pair for average discharge
river["Average Discharge"] = 209000  # in m³/s

# Update the length of the river
river["Length"] = 6992

# Print the updated dictionary
print(river)

{'Name': 'Amazon River', 'Length': 6992, 'Countries': ['Brazil', 'Peru', 'Colombia'], 'Average Discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [7]:
city_info = {
    "Name": "Tokyo",
    "Population": 13_515_271,
    "Coordinates": (35.6895, 139.6917)
}

# Access and print the population
print("Population:", city_info["Population"])

# Access and print the latitude
print("Latitude:", city_info["Coordinates"][0])

# Update the population
city_info["Population"] = 14_000_000

# Print the updated dictionary
print(city_info)

Population: 13515271
Latitude: 35.6895
{'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [8]:
cities = [
    ("New York City", (40.7128, -74.0060)),
    ("Los Angeles", (34.0522, -118.2437)),
    ("Chicago", (41.8781, -87.6298)),
    ("Miami", (25.7617, -80.1918))
]

# Sort the list alphabetically by city name
cities.sort(key=lambda x: x[0])

# Create a new list with only city names
city_names = [city[0] for city in cities]

# Remove the last city from the original list
cities.pop()

# Print the results
print("Sorted city list:", cities)
print("City names:", city_names)
print("Updated city list:", cities)

Sorted city list: [('Chicago', (41.8781, -87.6298)), ('Los Angeles', (34.0522, -118.2437)), ('Miami', (25.7617, -80.1918))]
City names: ['Chicago', 'Los Angeles', 'Miami', 'New York City']
Updated city list: [('Chicago', (41.8781, -87.6298)), ('Los Angeles', (34.0522, -118.2437)), ('Miami', (25.7617, -80.1918))]

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [9]:
river = {
    "Name": "Amazon River",
    "Length": 6992,  # Updated length
    "Countries": ["Brazil", "Peru", "Colombia"],
    "Average Discharge": 209000  # in m³/s
}

# Check if "Length" exists in the dictionary
print("Length exists:", "Length" in river)

# Print all keys in the dictionary
print("Keys:", river.keys())

# Print all values in the dictionary
print("Values:", river.values())

Length exists: True
Keys: dict_keys(['Name', 'Length', 'Countries', 'Average Discharge'])
Values: dict_values(['Amazon River', 6992, ['Brazil', 'Peru', 'Colombia'], 209000])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [10]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

In [11]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

# Create a list of location names
location_names = [location[0] for location in locations]

# Create a dictionary mapping location names to coordinates
location_dict = {location[0]: (location[1], location[2]) for location in locations}

# Print the latitude of "K2"
print("Latitude of K2:", location_dict["K2"][0])

Latitude of K2: 35.8808

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

## Exercise 11: Manipulating Geographic Location Strings

- Create a string that represents the name of a geographic feature (e.g., `"Amazon River"`).
- Convert the string to lowercase and then to uppercase.
- Concatenate the string with the name of the country (e.g., `"Brazil"`) to create a full location name.
- Repeat the string three times, separating each repetition with a dash (`-`).

In [12]:
geo_feature = "Amazon River"

# Convert to lowercase and uppercase
lower_case = geo_feature.lower()
upper_case = geo_feature.upper()

# Concatenate with a country name
full_location = geo_feature + ", Brazil"

# Repeat three times with a dash separator
repeated_feature = (geo_feature + " - ") * 2 + geo_feature

# Print results
print(lower_case)
print(upper_case)
print(full_location)
print(repeated_feature)

amazon river
AMAZON RIVER
Amazon River, Brazil
Amazon River - Amazon River - Amazon River

## Exercise 12: Extracting and Formatting Coordinates

- Given a string with the format `"latitude, longitude"` (e.g., `"40.7128N, 74.0060W"`), extract the numeric values of latitude and longitude.
- Convert these values to floats and remove the directional indicators (`N`, `S`, `E`, `W`).
- Format the coordinates into a `POINT` WKT string (e.g., `"POINT(-74.0060 40.7128)"`).

In [13]:
import re

# Given coordinate string
coordinate_str = "40.7128N, 74.0060W"

# Extract numeric values and remove directional indicators
latitude, longitude = re.findall(r"[-+]?\d*\.\d+|\d+", coordinate_str)
latitude, longitude = float(latitude), -float(longitude)  # West is negative

# Format into WKT POINT string
wkt_point = f"POINT({longitude} {latitude})"

# Print result
print(wkt_point)

POINT(-74.006 40.7128)

## Exercise 13: Building Dynamic SQL Queries

- Given a table name and a condition, dynamically build an SQL query string.
- Example: If `table_name = "cities"` and `condition = "population > 1000000"`, the query should be `"SELECT * FROM cities WHERE population > 1000000;"`.
- Add additional conditions dynamically, like `AND` clauses.

In [14]:
def build_sql_query(table_name, conditions):
    query = f"SELECT * FROM {table_name} WHERE " + " AND ".join(conditions) + ";"
    return query

# Example usage
table = "cities"
conditions = ["population > 1000000", "area > 500"]

sql_query = build_sql_query(table, conditions)
print(sql_query)

SELECT * FROM cities WHERE population > 1000000 AND area > 500;

## Exercise 14: String Normalization and Cleaning

- Given a list of city names with inconsistent formatting (e.g., `[" new york ", "Los ANGELES", "   CHICAGO"]`), normalize the names by:
  - Stripping any leading or trailing whitespace.
  - Converting them to title case (e.g., `"New York"`, `"Los Angeles"`, `"Chicago"`).
- Ensure that the output is a clean list of city names.

In [15]:
cities = [" new york ", "Los ANGELES", " CHICAGO"]

# Normalize names
cleaned_cities = [city.strip().title() for city in cities]

# Print result
print(cleaned_cities)

['New York', 'Los Angeles', 'Chicago']

## Exercise 15: Parsing and Extracting Address Information

- Given a string in the format `"Street, City, Country"` (e.g., `"123 Main St, Springfield, USA"`), write a function that parses the string into a dictionary with keys `street`, `city`, and `country`.
- The function should return a dictionary like `{"street": "123 Main St", "city": "Springfield", "country": "USA"}`.

In [16]:
def parse_address(address):
    parts = [part.strip() for part in address.split(",")]
    return {"street": parts[0], "city": parts[1], "country": parts[2]}

# Example usage
address = "123 Main St, Springfield, USA"
parsed_address = parse_address(address)
print(parsed_address)

{'street': '123 Main St', 'city': 'Springfield', 'country': 'USA'}

## Exercise 16: Using For Loops to Process Coordinate Lists

- Create a list of tuples representing coordinates (latitude, longitude).
- Write a `for` loop that prints each coordinate and indicates whether it is in the Northern or Southern Hemisphere based on the latitude.

In [17]:
coordinates = [(34.0522, -118.2437), (-33.8688, 151.2093), (51.5074, -0.1278)]

# Loop through coordinates
for lat, lon in coordinates:
    hemisphere = "Northern" if lat >= 0 else "Southern"
    print(f"Coordinate: ({lat}, {lon}) - {hemisphere} Hemisphere")

Coordinate: (34.0522, -118.2437) - Northern Hemisphere
Coordinate: (-33.8688, 151.2093) - Southern Hemisphere
Coordinate: (51.5074, -0.1278) - Northern Hemisphere

## Exercise 17: While Loops for Iterative Processing

- Create a list of coordinates (latitude, longitude).
- Write a `while` loop that continues to print each coordinate until it encounters a coordinate with a negative latitude.
- Stop the loop once this condition is met.

In [18]:
coordinates = [(34.0522, -118.2437), (51.5074, -0.1278), (-33.8688, 151.2093), (48.8566, 2.3522)]

# While loop until negative latitude is encountered
index = 0
while index < len(coordinates):
    lat, lon = coordinates[index]
    if lat < 0:
        break
    print(f"Coordinate: ({lat}, {lon})")
    index += 1

Coordinate: (34.0522, -118.2437)
Coordinate: (51.5074, -0.1278)

## Exercise 18: Conditional Logic in Loops

- Create a list of coordinates and use a `for` loop to iterate over them.
- Use an `if-elif-else` statement inside the loop to classify each coordinate based on its longitude:
  - Print `"Eastern Hemisphere"` if the longitude is greater than 0.
  - Print `"Western Hemisphere"` if the longitude is less than 0.

In [19]:
coordinates = [(34.0522, -118.2437), (51.5074, -0.1278), (-33.8688, 151.2093)]

# Loop through and classify based on longitude
for lat, lon in coordinates:
    if lon > 0:
        print(f"Coordinate: ({lat}, {lon}) - Eastern Hemisphere")
    elif lon < 0:
        print(f"Coordinate: ({lat}, {lon}) - Western Hemisphere")
    else:
        print(f"Coordinate: ({lat}, {lon}) - Prime Meridian")

Coordinate: (34.0522, -118.2437) - Western Hemisphere
Coordinate: (51.5074, -0.1278) - Western Hemisphere
Coordinate: (-33.8688, 151.2093) - Eastern Hemisphere

## Exercise 19: Filtering Data with Combined Loops and Conditionals

- Given a list of coordinates, filter out and store only those located in the Southern Hemisphere (latitude < 0).
- Count the number of coordinates that meet this condition and print the result.

In [20]:
coordinates = [(34.0522, -118.2437), (-33.8688, 151.2093), (-22.9068, -43.1729), (51.5074, -0.1278)]

# Filter for Southern Hemisphere
southern_hemisphere = [coord for coord in coordinates if coord[0] < 0]

# Count and print result
print(f"Southern Hemisphere coordinates: {southern_hemisphere}")
print(f"Count: {len(southern_hemisphere)}")

Southern Hemisphere coordinates: [(-33.8688, 151.2093), (-22.9068, -43.1729)]
Count: 2

## Exercise 20: Generating and Analyzing Random Coordinates

- Write a program that generates random coordinates (latitude between [-90, 90] degrees and longitude between [-180, 180] degrees).
- Use a `while` loop to keep generating coordinates until a pair with both latitude and longitude greater than 50 is generated.
- Print each generated coordinate and the final coordinate that meets the condition.

In [21]:
import random

# Generate random coordinates until one meets the condition
while True:
    lat = random.uniform(-90, 90)
    lon = random.uniform(-180, 180)
    print(f"Generated coordinate: ({lat}, {lon})")

    if lat > 50 and lon > 50:
        print(f"Final coordinate meeting condition: ({lat}, {lon})")
        break

Generated coordinate: (-7.59786549035438, 167.1144211786161)
Generated coordinate: (31.801596840271344, -31.636013783307305)
Generated coordinate: (-29.1846354158767, -114.98077211855176)
Generated coordinate: (-38.99089792667317, -25.86189309938149)
Generated coordinate: (66.42727759782267, 151.00114354554387)
Final coordinate meeting condition: (66.42727759782267, 151.00114354554387)

## Submission Requirements

Complete the exercises above and and upload the notebook to your GitHub repository. Make sure the notebook has a Colab badge at the top so that it can be easily opened in Google Colab. Submit the URL of the notebook to Canvas.